@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}


input::-webkit-input-placeholder{
  font-family: 'Source Sans Pro', sans-serif;
}

.main-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  text-align: center;
  .input-div{
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
  }  
  .login-register{
    cursor: pointer;
    color: green;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}

.error-value{
  color: red;
}