
.question-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  text-align: center;
  
}